<!doctype html>
<html lang="en">

<head>
  <title>CS4241 Assignment 3 login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is the log in page.">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tuicss@2.1.0/dist/tuicss.min.css">

  <!-- get rid of favicon error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

</head>

<body>

  <form action='/login' method='POST'>
    <div>
      <label for='username'>Username:</label>
      <input type='text' name='username' id='username'>
      <label for='password'>Password:</label>
      <input type='password' name='password' id='password'>
      <input type='submit' value='Login'>
    </div>
  </form>

</body>

</html>