<!doctype html>
<html lang="en">

<head>
    <title>CS4241 Assignment 3 main</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="This is the user's blog page, with all posts, and functions to add, delete, and update.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tuicss@2.1.0/dist/tuicss.min.css">

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
    <div class="container">
        <h3 id="usernameDisplay"></h3>
        <h1>Welcome to your blog!</h1>
        <div id="usernameDisplay"></div>
        <form id="postForm">
            <div>
                <label for="newPost">Create a new post</label>
                <textarea id="newPost" name="newPost" class="tui-input" rows="3"
                    placeholder="Write your post here..."></textarea>
            </div>
            <br>
            <label for="postColor">Pick a color!......</label>
            <input class="tui-input" type="color" value="#00FF00" id="postColor" />
            <br>
            <button type="submit">Post</button>

        </form>

        <h1>Previous posts</h1>
        <ul id="postsList">
        </ul>
    </div>

    <script src="/main.js"></script>

</body>

</html>