<!doctype html>
<html lang="en">

<head>
    <title>CS4241 Assignment 3 main</title>
    <meta charset="utf-8">
    <script src="js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    </style>
</head>

<body>

    <form>
        <p>
            <input type="textarea" id="newPost" name="newPost" placeholder="Create a new post" />
        </p>
        <p class="button">
            <button type="submit">Post</button>
        </p>
    </form>

    <h1>Previous posts</h1>
    <ul>
        <li> </li>
    </ul>
</body>

</html>