body {
  background: rgb(157, 187, 240);
  color: rgb(38, 62, 140);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: rgb(20, 37, 92);
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-align: center;
  background: rgb(85, 115, 180);
  padding: 20px;
}

ul li {
  background: rgb(184, 204, 244);
  color: rgb(20, 37, 92);
  padding: 10px;
  margin-left: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  background-color: aliceblue;
}

.flex-item {
  background-color: rgb(231, 61, 61);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}